## Практика к Юнит 2. Pandas.Series

### Задание 2.1
1/1 point (graded)<br>
Какой параметр используется для того, чтобы задать ассоциативные метки в Series?<br>
columns<br>
index *верно*<br>
dtype<br>
placemarks<br>

### Задание 2.2<br>
1/1 point (graded)<br>
Какие из нижеперечисленных вариантов кода создают Series, представленный на картинке ниже?<br>
A<br>
pd.Series(["Апельсин", "Киви", "Мандарин", "Яблоко"], ["а", "к", "м", "я"])<br>
B<br>
pd.Series(data=["Апельсин", "Киви", "Мандарин", "Яблоко"], index = ["а", "к", "м", "я"], name = "fruits")<br>
C<br>
pd.Series({'а': "Апельсин", 'к': 'Киви', 'м': 'Мандарин', 'я': 'Яблоко'}, name='fruits')<br>
D<br>
pd.Series(["Апельсин", "Киви", "Мандарин", "Яблоко"], name='fruits')<br>
**Ответ
Верно:
B Верно.
C Верно.**

### Задание 2.3<br>
1/1 point (graded)
Задан Series <br>
        <code>my_series = pd.Series(data=[5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f']).</code><br>
Какими из нижеперечисленных способов можно достать из него числа 6, 7 и 9?<br>
Отметьте все подходящие варианты ответов.<br>
A<br>
my_series[['b', 'c', 'e']]<br>
B<br>
my_series.iloc[1:5]<br>
C<br>
my_series.loc[['a', 'b', 'd']]<br>
D<br>
my_series.iloc[[1, 2, 4]]<br>
**Ответ
Верно:
A Элементы 6, 7 и 9 располагаются по меткам (индексам) 'b', 'c' и 'e'. Их можно получить с помощью loc, передав в него список с этими метками.
D Элементы 6, 7 и 9 располагаются по меткам (индексам) 'b', 'c' и 'e'. Их можно получить с помощью iloc, передав в него список с соответствующими порядковыми номерами.**

### Задание 2.4<br>
В аптеку поступают партии лекарств. Их названия находятся в списке *names*, количество единиц товара находится в списке *counts*.<br>
Например:<br>
<code>names=['chlorhexidine', 'cyntomycin', 'afobazol']<br>
counts=[15, 18, 7]<br></code>
Напишите функцию *create_medications(names, counts)*, создающую Series *medications*, индексами которого являются названия лекарств *names*, а значениями — их количество в партии *counts*.<br>
Также напишите функцию *get_percent(medications, name)*, которая возвращает долю товара с именем *name* от общего количества товаров в партии в процентах.<br>

In [1]:
import pandas as pd

def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    res = pd.Series(counts, names)
    return res

def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    sum_per = (sum(medications.iloc[:]))
    med_per = (medications.loc[name])/sum_per*100
    return med_per
    
if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

## Практика к Юнит 3. Pandas.DataFrame

### Задание 3.1<br>
1/1 point (graded)<br>
Что собой представляет структура данных DataFrame?<br>
- Ассоциативный ряд<br>
- Таблицу со столбцами и строками **верно**<br>
- Древовидную структуру, данные в которой хранятся в узлах<br>
- Граф с узлами и рёбрами <br>

### Задание 3.2<br>
1/1 point (graded)<br>
Какой параметр pd.DataFrame() позволяет назначать имена столбцам?<br>
- columns **верно**<br>
- names<br>
- index<br>
- dtype <br>
**Ответ**
Верно: За назначение имён столбцам отвечает параметр columns, имена в котором указываются в списке.

### Задание 3.3<br>
1/1 point (graded)<br>
Какой параметр *pd.DataFrame()* позволяет назначать ассоциативные метки?<br>
- columns<br>
- placemarks<br>
- index **верно**<br>
- names<br>
**Ответ**<br>
Верно: За назначение ассоциативных меток (индексов) отвечает параметр *index*, в котором индексы указываются в списке.

### Задание 3.4<br>
1/1 point (graded)<br>
Какие из нижеприведённых вариантов кода позволят создать следующую таблицу?<br>

			A 	B
		0 	0 	1
		1 	1 	0

Отметьте все подходящие варианты ответов.<br>
**A** 		pd.DataFrame([[0,1], [1, 0]], columns=['А', 'B']) **Верно**<br>
**B** 		pd.DataFrame([[1, 0], [0, 1]], columns=['А', 'B'])<br>
**C** 		pd.DataFrame({'А': [0, 1], 'B': [1, 0]})**Верно**<br>
**D** 		pd.DataFrame({'А': [1, 0], 'B': [0, 1]})<br>

**Ответ**<br>
Верно:<br>
**A** При создании DataFrame из вложенных списков его внутренние списки являются строками таблицы.<br>
**C** При создании DataFrame из словаря значения словаря — это значения в столбцах будущей таблицы.<br>

### Задание 3.5<br>
Вы работаете аналитиком в компании *ScienceYou*. Ваша задача — проанализировать **чистую прибыль**.<br>
Доходы *(income)*, расходы *(expenses)* и годы *(years)*, соответствующие им, предоставлены вам в виде списков.<br>
Например:<br>
- income = [478, 512, 196]<br>
- expenses = [156, 130, 270]<br>
- years = [2018, 2019, 2020]<br>

Создайте функцию *create_companyDF(income, expenses, years)*, которая  возвращает *DataFrame*, составленный из входных данных со столбцами *Income* и *Expenses* и индексами, соответствующими годам рассматриваемого периода. Пример такого *DataFrame* представлен ниже.<br>

                   Income  	   Expenses
        2018    	478     	156
        2019     	512     	130
        2020     	196     	270

Также напишите функцию *get_profit(df, year)*, которая возвращает разницу между доходом и расходом, записанными в таблице *df*, за год *year*. Учтите, что если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть *None*.

In [2]:
import pandas as pd

def create_companyDF(income, expenses, years):
    """
    Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, 
    составленный из входных данных со столбцами “Income” и “Expenses” и индексами, соответствующим годам рассматриваемого периода.
    """
    df = pd.DataFrame({'Income': income, 'Expenses': expenses}, index = years)
    return df

def get_profit(df, year):
    
    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None. 
    """
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        profit = None
    return profit

if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74

-74

## Практика к Юнит 4. Работа с различными источниками данных в Pandas

### Задание 4.1<br>
1/1 point (graded)<br>
Как прочитать в *DataFrame* *csv*-файл, в качестве разделителя у которого значится *'!'*?<br>
- `df = pd.read_csv('path/file.csv', separator = '!')`<br>
- `df = pd.read_csv('path/file.csv', sep= '!')`**верно**<br>
- `df = pd.read_csv('path/file.csv', names= '!')`<br>
- `df = pd.read_csv('path/file.csv', prefix= '!')`<br>

### Задание 4.2<br>
1/1 point (graded)<br>
Как прочитать в *DataFrame* *csv*-файл, в качестве разделителя у которого значится *';'*, а первые 20 строк занимает служебная информация?<br>
- `df = pd.read_csv('path/file.csv', sep = ';', skiprows = 20)` **верно**<br>
- `df = pd.read_csv('path/file.csv', separator = ';', skipinitialspace = 20)`<br>
- `df = pd.read_csv('path/file.csv', separator = ';')`<br>
- `df = pd.read_csv('path/file.csv', skiprows = 20)`<br>

### Задание 4.3<br>
1/1 point (graded)<br>
Как записать *DataFrame* в *csv*-файл, в котором разделителем служит *';'*, а целая часть числа отделяется от дробной знаком *','*?<br>
- `df.to_csv('path/file.csv', sep = ';', delimeter =',')`<br>
- `df.to_csv('path/file.csv', sep = ',', decimal=';')`<br>
- `df.to_csv('path/file.csv', sep = ';', decimal=',')`**верно**<br>
- `df.to_csv('path/file.csv', sep = ';', index=False)`<br>

### Задание 4.4<br>
1/1 point (graded)<br>
Какая функция позволяет прочитать файл `'income.xslx'` в *DataFrame*?<br>
- `pd.read_xml()`<br>
- `pd.read_excel()`**верно**<br>
- `pd.read_sql()`<br>
- `pd.read_json()`<br>

## Практика к Юнит 5. Знакомимся с данными: недвижимость

In [3]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
#display(melb_data.columns)

### Задание 5.1<br>
1/1 point (graded)<br>
Какова цена объекта недвижимости под индексом 15?<br>
- 1300000<br>
- 1310000 **верно**<br>
- 1902310<br>
- 1249491<br>

In [4]:
# Задание 5.1
melb_data.loc[15, 'Price']

1310000.0

### Задание 5.2<br>
1/1 point (graded)<br>
Когда был продан объект под индексом 90?<br>
- 11 августа 2015 года<br>
- 28 сентября 2018 года<br>
- 10 сентября 2016 года **верно**<br>
- 19 января 2013 года<br>

In [5]:
# Задание 5.2
melb_data.loc[90, 'Date']

'10/09/2016'

In [6]:
# Задание 5.3
# Во сколько раз площадь участка, на котором находится 
# здание с индексом 3521, больше площади участка, 
# на котором находится здание с индексом 1690? 
# Ответ округлите до целого числа.
round(melb_data.loc[3521, 'Landsize']/melb_data.loc[1690, 'Landsize'], 0)

3.0

## Практика к Юнит 6. Исследование структуры DataFrame

###  Задание 6.1<br>
1/1 point (graded)<br>
Дана таблица `data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])`. Что выведет код `print(data.shape)`?<br>
- (2, 3)<br>
- (3, 3)<br>
- (3, 2) **верно**<br>
- (2, 2)<br>

### Задание 6.2<br>
1/1 point (graded)<br>
Какой из нижеперечисленных вариантов кода позволяет получить последние 15 строк *DataFrame* `melb_data`?<br>
- `melb_data.head()`<br>
- `melb_data.tail(15)` **верно**<br>
- `melb_data.head(15`)<br>
- m`elb_data.tail()`<br>

### Задание 6.3<br>
1/1 point (graded)<br>
Какой тип данных имеет столбец *Coordinates*?<br>
- `int64`<br>
- `float64`<br>
- `tuple`<br>
- `object` **верно**<br>

### Задание 6.4 <br>
1/1 point (graded)<br>
Какое утверждение о типе данных `object` верно?<br>
- Это тип данных, которым в *Pandas* кодируются числа<br>
- Это тип данных, которым в *Pandas* кодируются только текстовые данные<br>
- Это тип данных, которым в *Pandas* кодируются текстовые или другие нечисловые значения (кортежи, списки и т. д.) верно<br>
- Это тип данных, которым в *Pandas* кодируются изображения<br>

### Задание 6.5<br>
1/1 point (graded)<br>
Сколько пропущенных значений в столбце CouncilArea?<br>
`1369` **верно**<br>

In [7]:
# Решение для 6.5
melb_data.shape[0]-melb_data['CouncilArea'].count()

1369

In [8]:
# Задание 6.6
# Сколько столбцов после преобразования типов имеет целочисленный тип данных?
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

### Задание 6.7<br>
1/1 point (graded)<br>
Выберите верные утверждения в отношении таблицы `melb_data`:<br>
**A** Среднее и медианное значения цены дома в таблице отличаются более чем в 10 раз<br>
**B** Половина проданных зданий находится на расстоянии от 6.1 до 13 километров от центра города<br>
**C** Средняя площадь здания составляет более 180 квадратных метров<br>
**D** В данных есть как минимум одно жилое помещение, которое находится ровно в той точке, которая считается центром Мельбурна **верно**<br>

**Ответ** <br>
Верно:<br>
**B** Квартиль уровня 0.25 столбца *Distance* равен 6.1 км, квартиль уровня 0.75 того же столбца равен 13 км.<br>
**D** Минимальное расстояние (столбец *Distance*) от центра города равно 0. Это значит, что на карте есть как минимум одна точка, которая совпадает с точкой, обозначенной как центр города.<br>

In [9]:
# Решение к 6.7
melb_data.describe().loc[:,['Price', 'Distance', 'BuildingArea']]

              Price      Distance  BuildingArea
count  1.358000e+04  13580.000000  13580.000000
mean   1.075684e+06     10.137776    139.633972
std    6.393107e+05      5.868725    392.217403
min    8.500000e+04      0.000000      0.000000
25%    6.500000e+05      6.100000    122.000000
50%    9.030000e+05      9.200000    126.000000
75%    1.330000e+06     13.000000    129.940000
max    9.000000e+06     48.100000  44515.000000

### Задание 6.8<br>
1/1 point (graded)<br>
Выберите верные утверждения в отношении таблицы `melb_data`:<br>
- **A** Наименьшее число объектов расположено в районе *Southern Metropolitan*<br>
- **B** Мельбурн и его пригороды разделены как минимум на восемь районов<br>
- **C** У некоторых различных адресов в таблице совпадают географические координаты<br>
- **D** В пригороде *Reservoir* расположено наибольшее число проданных объектов - 359

**Ответ**<br>
Верно:<br>
**B** В столбце *Regionname* восемь уникальных значений (*unique*), что даёт право сделать вывод, что в Мельбурне и его пригородах как минимум восемь различных районов.<br>
**C** Количество уникальных значений (*unique*) в столбце *Address* больше, чем количество уникальных значений в столбце *Coordinates*. Это значит, что некоторые различные адреса помечены одинаковыми географическими координатами.<br>
**D** Наиболее часто встречающееся (*top*) значение в столбце *Suburb* является *Reservoir*. Частота (*freq*) его использований — 359 раз.<br>

In [10]:
# Решение к 6.8
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

### Задание 6.9<br>
1/1 point (graded)<br>
Сколько процентов от общего количества домов составляют таунхаусы (тип объекта — *t*)?<br>

Ответ округлите до целого числа. Не указывайте знак %.<br>
**`8`** **верно**<br>

In [11]:
# Решение к 6.9
round(melb_data['Type'].value_counts(normalize=True), 2)*100

h    70.0
u    22.0
t     8.0
Name: Type, dtype: float64

## Практика к Юнит 7. Статистические методы

###  Задание 7.1<br>
1/1 point (graded)<br>
Для каких столбцов метод `std()` выполнится с ошибкой?<br>
Отметьте все подходящие варианты ответов.<br>
**A** *Landsize*<br>
**B** *Price*<br>
**C** *Date*<br>
**D** *Type*<br>
**Ответ**
**Верно:**<br>
**C** Метод `std()` вычисляет стандартное отклонение и работает только с числовыми столбцами. Данные в столбце *Date* относятся к строковому типу, следовательно, метод выдаст ошибку.<br>
**D** Метод `std()` вычисляет стандартное отклонение и работает только с числовыми столбцами. Данные в столбце *Type* относятся к строковому типу, следовательно, метод выдаст ошибку.<br>

### Задание 7.2<br>
1/1 point (graded)<br>
Чему равно максимальное количество домов на продажу в районе (Propertycount)?<br>
`21650` - **верно**<br>

### Задание 7.3<br>
1/1 point (graded)<br>
Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?<br>
Ответ округлите до целого числа.<br>
`6` - **верно**

### Задание 7.4<br>
1/1 point (graded)<br>
Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?<br>
Ответ округлите до целого числа. Не указывайте знак %.<br>
`10` - **верно**<br>

### Задание 7.5<br>
1/1 point (graded)<br>
Задан ряд чисел `[1, 2, 4, 2, 3, 2, 1, 5, 6]`. Чему равна *мода* в данном ряду?<br>
`2` - *верно*<br>
    *Подсказка* (1 из 1): *Мода* — наиболее часто встречающееся значение в ряду.<br>

### Задание 7.6<br>
1/1 point (graded)<br>
Сколько спален чаще всего встречается в домах в Мельбурне?<br>
`3` - **верно**

In [31]:
# Решение к заданию 7.2
#print(melb_data['Propertycount'].max())

# Решение к заданию 7.3
#round(melb_data['Distance'].std(), 0)

# Решение к заданию 7.4
median_BA = melb_data['BuildingArea'].median()
mean_BA = melb_data['BuildingArea'].mean()
print(round((abs(median_BA - mean_BA)/mean_BA)*100))

# Решение к заданию 7.6
melb_data['Bedroom'].mode()

10

0    3
Name: Bedroom, dtype: int64

## Практика к Юнит 8. Фильтрация данный в DataFrame.<br>

### Задание 8.1<br>
1/1 point (graded)<br>
У скольких объектов недвижимости из таблицы `melb_data` отсутствуют ванные комнаты?<br>
`34` - **верно**<br>

### Задание 8.2<br>
1/1 point (graded)<br>
Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией *Nelson* и стоимость которых составила больше 3 миллионов?<br>
`5` - **верно**<br>

### Задание 8.3<br>
1/1 point (graded)<br>
Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице `melb_data`?<br>
`412500` - **верно**<br>

### Задание 8.4<br>
1/1 point (graded)<br>
Какова средняя цена объектов недвижимости в таблице `melb_data` с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?<br>
Округлите ответ до целого числа.<br>
`769239` - **верно**<br>

### Задание 8.5<br>
1/1 point (graded)<br>
В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — *h*) с ценой меньше трёх миллионов?<br>
*Northern Metropolitan* - **верно**<br>
*Southern Metropolitan*<br>
*Eastern Victoria*<br>
*Northern Victoria*<br>

In [60]:
# Решение к 8.1
#melb_data[melb_data['Bathroom'] == 0].shape[0]
# Решение к 8.2
#melb_data[(melb_data['SellerG'] == "Nelson") & (melb_data['Price'] > 3000000)].shape[0]
# Решение к 8.3
#melb_data[melb_data['BuildingArea'] == 0]['Price'].min()
# Решение к 8.4 vs1
#round(melb_data[((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)) & (melb_data['Price'] < 1000000)]['Price'].mean())
# Решение к 8.4 vs2
#md_room = (melb_data['Rooms'] > 5)
#md_yb = (melb_data['YearBuilt'] > 2015)
#md_price = (melb_data['Price'] < 1000000)
#round(melb_data[(md_room | md_yb) & md_price]['Price'].mean())
# Решение к 8.5
md_type_h = (melb_data['Type'] == 'h')
md_price_3 = (melb_data['Price'] < 3000000)
melb_data[md_type_h & md_price_3]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

## Юнит 9. Закрепление знаний<br>
Настало время закрепить свои знания финальным заданием.<br>
В его решении вам поможет скринкаст, в котором мы собрали самые важные моменты модуля ↓<br>

Далее вам предстоит проанализировать данные о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения.<br>

Задачи такого плана очень часто встречаются на технических собеседованиях, где проверяют навыки владения библиотекой *Pandas*.<br>

Скачать датасет в формате *csv* можно [здесь](https://lms.skillfactory.ru/assets/courseware/v1/8a7b3b3f18edf7a3772760221c97139b/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/students_performance.zip) (*csv*-файл находится в *zip*-архиве — распакуйте архив, прежде чем продолжать работу!)

Информация о столбцах таблицы:

In [63]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep = ',')
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

- *gender* — пол;
- *race/ethnicity* — раса/этническая принадлежность;
- *parental level of education* — уровень образования родителей;
- *lunch* — какие обеды получал студент во время обучения (*standard* — платный, *free/reduced* — бесплатный);
- *test preparation course* — посещал ли студент курсы подготовки к экзаменам (*none* — не посещал, *completed* — посещал);
- *math score, reading score, writing score* — баллы по математике, чтению и письму по сто балльной шкале.

Вам необходимо прочитать эти данные в *DataFrame* с именем `student_data` и ответить на следующие вопросы ↓

In [125]:
# 9.1
#student_data.shape
# 9.2
#display(student_data.loc[155, 'writing score'])
# 9.3
#student_data.info() # var 1
#display(student_data[:].count()) # var 2
# 9.4
#student_data.info()
# 9.5
#student_data.info()
# 9.6
#round(student_data['math score'].mean())
# 9.7
#student_data['race/ethnicity'].mode()
# 9.8
#round(student_data[
 #   student_data['test preparation course'] == 'completed'
 #   ]['reading score'].mean())
# 9.9
#student_data[student_data['math score'] == 0]['math score'].count()
# 9.10
#sd_l_st = (student_data['lunch'] == 'standard')
#sd_l_fr = (student_data['lunch'] == 'free/reduced')
#display(student_data[sd_l_st]['math score'].mean())
#display(student_data[sd_l_fr]['math score'].mean())
# 9.11
#round(student_data['parental level of education'].value_counts(normalize=True)*100)
# 9.12
#sd_a = (student_data['race/ethnicity'] == 'group A')
#sd_c = (student_data['race/ethnicity'] == 'group C')
#round((student_data[sd_a]['writing score'].median()-student_data[sd_c]['writing score'].mean()))

some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: parental level of education, dtype: float64

### Задание 9.1<br>
1/1 point (graded)<br>
Данные о скольких студентах содержатся в таблице?<br>
`1000` - **верно**<br>

### Задание 9.2<br>
1/1 point (graded)<br>
Каков балл по письму у студента под индексом 155?<br>
`88` - **верно**<br>

### Задание 9.3<br>
1/1 point (graded)<br>
Сколько суммарно пропущенных значений в таблице?<br>
`0` -**верно**<br>

### Задание 9.4<br>
1/1 point (graded)<br>
Сколько столбцов в таблице имеет тип данных object?<br>
`5` - **верно**<br>

### Задание 9.5<br>
1/1 point (graded)<br>
Какой объём памяти (в килобайтах) занимает таблица?<br>
Округлите ответ до целого числа.<br>
`63` - **верно**<br>

### Задание 9.6<br>
1/1 point (graded)<br>
Каков у студентов средний балл по математике?<br>
Округлите ответ до целого числа.<br>
`66 ` - **верно**<br>

### Задание 9.7<br>
1/1 point (graded)<br>
Какая расовая группа является самой крупной в учебном заведении?<br>
В качестве ответа введите идентификатор группы (A, B, C, D, F).<br>
`C` - **верно**<br>

### Задание 9.8<br>
1/1 point (graded)<br>
Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?<br>
Округлите ответ до целого числа.<br>
`74` - **верно**<br>

### Задание 9.9<br>
1/1 point (graded)<br>
Сколько студентов получили 0 баллов по математике?<br>
`1` - **верно**<br>

### Задание 9.10<br>
1/1 point (graded)<br>
Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.<br>
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.<br>
Округлите ответ до целого числа.<br>
`70` - **верно**<br>

### Задание 9.11<br>
1/1 point (graded)<br>
Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?<br>
Округлите ответ до целого числа.<br>
Не указывайте знак %.<br>
`12` - **верно**<br>

### Задание 9.12<br>
1/1 point (graded)<br>
Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?<br>
Округлите ответ до целого и запишите модуль этого числа.<br>
`6` - **верно**<br>